  p{
  padding: 25px;
  }

img.center{
display:block;
margin: 0 auto;

}

  #mainContent {

  }
  #moreContent {

  }

@media only screen and (max-width:599px), only screen and (max-device-width: 500px)  {
  #wrapper{

  }
  
  #mainContent {

  }
  #moreContent {
  
  }
  p{
  padding: 1px;
  font-size: 36px;
  margin: 0 auto;
  }

}
