@media screen and (min-width:320px) {
  #navi {
    float: left;
    width: 25%;
   }
   #navi li {
    font-size: 36px;
   }
  #mainContent {
    margin-left: 25%;
   }
  #moreContent {
    margin-left: 25%;
   }
}



@media screen and (max-width:319px) {
  #navi li {
    display: inline;
  }
