@media screen and (min-width:600px) {
  #navi {
    float: left;
    width: 25%;
   }
  #mainContent {
    margin-left: 25%;
   }
  #moreContent {
    margin-left: 25%;
   }
}



@media screen and (max-width:599px) {
  #navi li {
    display: inline;
  }
